<div class="url">
    Long URL: <span class="long"><a href="<%= model.longUrl %>"><%= model.longUrl %></a></span>
    Short URL: <span class="short"><a href="<%= model.id %>"><%= model.id %></a></span>
</div>